body {
    margin: 0;
    background-color: rgb(122, 127, 131);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.genius {
    display: grid;
    grid-template-areas: 'green red' 'yellow blue';
    grid-gap: 10px;
    border: 10px solid #fff;
    background-color: #fff;
    border-radius: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 500px;
    height: 500px;
}
.green {
    grid-area: green;
    background-color: green;
    border-top-left-radius: 100%;
}

.red {
    grid-area: red;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow  {
    grid-area: yellow;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.blue {
    grid-area: blue;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.selected {
    opacity: 0.8;
}



